<%- include('partials/header'); -%>

<header>
  <div class="files">
    <img src="/fileTrans.png" alt="">
  </div>
  <div class="headings">
    <h2>Welcome to ShareDrive</h2>
    <h3>Where Files Meet Collaboration</h3>
    <% if(user){ %>
    <a href="/myuploads">My Uploads</a>
    <a href="/shared">Shared</a>
    <a href="/sharedbyme">Shared By me</a>
    <a href="/ActiveLinks">Active Links</a>
    <a href="/recycleBin">Recycle Bin</a>
    <% } else { %>
      <ul>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    <% } %>
  </div>
</header>


<%- include('partials/footer'); -%>