<%- include('partials/header'); -%>

<form action="/login" method="POST">
<label for="email">Email:</label>
<input type="email" id="email" name="email" required>

<label for="password">Password:</label>
<input type="password" id="password" name="password" required minlength="6">

<button>Login</button>
<br>
<p class="error"><%= message %></p>
<br>
<p>Don't have an account? <a href="/signup" class="btn">Sign up</a></p>
</form>


<%- include('partials/footer'); -%>