<%- include('partials/header'); -%>

<form action="/signup" method="POST">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required minlength="6">
  
  <button style="cursor: pointer;">Sign Up</button>
  <br>
  <p style="color: red;"><%= message %></p>
  <br>
  <p>Already have an account? <a href="/login">Login here</a></p>
</form>


<%- include('partials/footer'); -%>